doctype html
html(lang='en')
  head
    title My Tasks
    link(rel='stylesheet', href='/static/style.css')
   
  body 
  
    div.Section
        div.ForImg
          h1.name My Daily Tasks
        
         

        block Content 
       
    